<link rel="stylesheet" href="css/modal-style.css">
<link rel="stylesheet" href="css/table-style.css">
<header id="header" id="home">
	<div class="container">
		<div class="row align-items-center justify-content-between d-flex">
			<div id="logo">
					<h2><img src="images/logo.png" height="30px" alt="" title="" /><span class="header-title"> H<span class="desk-title">e</span>lp <span class="desk-title">D</span>esk</span></h2>
			</div>
			<nav id="nav-menu-container">
				<ul class="nav-menu">
					<li class="menu-active"><a href="/adm-home">Home</a></li>
					<li class="menu-active"><a href="/adm-employee">Funcionarios</a></li>
					<li><a href="/">Logout</a></li>
				</ul>
			</nav><!-- #nav-menu-container -->
		</div>
	</div>
</header><!-- #header -->