<!-- seção informatica Admin -->
<section class="feature-area section-gap admin-home">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 title text-center">
                <h1 class="mb-10 title-adm">Entenda sobre o Admin</h1>
                <p class="text-adm mb-5">Veja abaixo todas as ferramentas que um gerente pode manuzear.</p>
            </div>
        </div>
        </div>
</section>
<section class="feature-area section-gap">
    <div class="container">
        <div class="row  text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid adm-icon-1" src="images/admin-icon-1.jpg" alt="">
            </div>
            <div class="col-lg-8">
                <h4 class="title">Consultar</h4>
                <p class="text-black mb-5">Encarregado de consultar todos os usuarios do sistema, tendo em suas mãos os dados de
                    todos os funcionarios tanto analista nivel 1, nivel 2 e gerente.
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row  text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid adm-icon-2" src="images/admin-icon-2.png" alt="">
            </div>
            <div class="col-lg-8">
                    <h4 class="title">Deletar</h4>
                <p class="text-black mb-5">O administrador terá a função de deletar os usuarios que bem entender, mas que ao deletar, irá ficar  registrado a ação,
                    de modo que haja rastreabilidade em cada função.
             </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid adm-icon-3" src="images/admin-icon-3.png" alt="">
            </div>
            <div class="col-lg-8">
                    <h4 class="title">Editar</h4>
                <p class="text-black mb-5">O administrador terá a função de editar os usuarios que bem entender, mas que ao editar, irá ficar  registrado a ação,
                        de modo que haja rastreabilidade em cada função.
             </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-center">
                <div class="single-feature col-lg-3">
                    <img class="img-fluid adm-icon-4" src="images/admin-icon-4.png" alt="">
                </div>
                <div class="col-lg-8">
                        <h4 class="title">Adicionar</h4>
                    <p class="text-black mb-5">O administrador terá a função de adicionar os usuarios que bem entender, mas que ao adicionar, irá ficar  registrado a ação,
                            de modo que haja rastreabilidade em cada função. 
                 </p>
                </div>
                <div class="col-lg-1"></div>
            </div>
    </div>
</section>
<!-- fim area caracteristica -->