<!-- seção informatica Admin -->
<section class="feature-area section-gap admin-home">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 title text-center">
                <h1 class="mb-10 title-adm">Entenda sobre o Admin</h1>
                <p class="text-adm mb-5">Veja abaixo todas as ferramentas que um gerente pode manuzear.</p>
            </div>
        </div>
        </div>
</section>
<section class="feature-area section-gap">
    <div class="container">
        <div class="row  text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid adm-icon-1" src="images/admin-icon-1.jpg" alt="">
            </div>
            <div class="col-lg-8">
                <h4 class="title">Titulo one</h4>
                <p class="text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit facilisis
                    justo, ac convallis sapien fermentum in. Ut quis dapibus diam, eu egestas justo. Suspendisse pellentesque
                    ligula quis nulla tincidunt rutrum. Nulla risus eros, efficitur ac efficitur in, mattis vel lorem. In
                    porta vulputate massa, quis rhoncus dolor suscipit at. Mauris aliquam lorem id augue tempus gravida non
                    vel augue. </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row  text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid adm-icon-2" src="images/admin-icon-2.png" alt="">
            </div>
            <div class="col-lg-8">
                    <h4 class="title">Titulo one</h4>
                <p class="text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit facilisis
                    justo, ac convallis sapien fermentum in. Ut quis dapibus diam, eu egestas justo. Suspendisse pellentesque
                    ligula quis nulla tincidunt rutrum. Nulla risus eros, efficitur ac efficitur in, mattis vel lorem. In
                    porta vulputate massa, quis rhoncus dolor suscipit at. Mauris aliquam lorem id augue tempus gravida non
             </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid adm-icon-3" src="images/admin-icon-3.png" alt="">
            </div>
            <div class="col-lg-8">
                    <h4 class="title">Titulo one</h4>
                <p class="text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit facilisis
                    justo, ac convallis sapien fermentum in. Ut quis dapibus diam, eu egestas justo. Suspendisse pellentesque
                    ligula quis nulla tincidunt rutrum. Nulla risus eros, efficitur ac efficitur in, mattis vel lorem. In
             </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-center">
                <div class="single-feature col-lg-3">
                    <img class="img-fluid adm-icon-4" src="images/admin-icon-4.png" alt="">
                </div>
                <div class="col-lg-8">
                        <h4 class="title">Titulo one</h4>
                    <p class="text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit facilisis
                        justo, ac convallis sapien fermentum in. Ut quis dapibus diam, eu egestas justo. Suspendisse pellentesque
                        ligula quis nulla tincidunt rutrum. Nulla risus eros, efficitur ac efficitur in, mattis vel lorem. In
                 </p>
                </div>
                <div class="col-lg-1"></div>
            </div>
    </div>
</section>
<!-- fim area caracteristica -->