<!-- seção informatica Admin -->

<section class="feature-area section-gap gerente-home">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 title text-left">
                <h1 class="mb-10 title-gerente">Entenda sobre o Gerente</h1>
                <p class="text-black mb-5">Veja abaixo todas as ferramentas que um gerente pode manuzear.</p>
            </div>
        </div>
        </div>
</section>
<section class="feature-area section-gap">
    <div class="container">
        <div class="row  text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid gerente-icon-1" src="images/gerente-icon-1.png" alt="">
            </div>
            <div class="col-lg-8">
                <h4 class="title">Administrar</h4>
                <p class="text-black mb-5">O gerente ficara encarregado de gerenciar tanto as chamadas quanto os funcionarios de nivel inferior
                    de modo que acompanhe os status de cada chamado, e os funcionarios encarregados, podendo fazer as 4 operações basicas de deletar, alterar, inserir e consultar.
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row  text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid gerente-icon-2" src="images/gerente-icon-2.png" alt="">
            </div>
            <div class="col-lg-8">
                <h4 class="title">Funcionarios</h4>
                <p class="text-black mb-5">
                    O gerente tera a possibilidade de inserir, alterar , consultar e deletar os funcionarios de nivel inferior, 
                    de modo a controlar as atividades dos mesmos e fazer relatorios das mudanças que acontecem buscando fazer melhorias gradativamentes.
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid gerente-icon-3" src="images/gerente-icon-3.png" alt="">
            </div>
            <div class="col-lg-8">
                <h4 class="title">Chamados</h4>
                <p class="text-black mb-5">O gerente poderá  adicionar, alterar, consultar e deletar os chamados, apenas após a certificação com os analistas nivel 1 e nievl 2, de modo que saiba
                    a situação de cada chamado antes de tomar determinadas decisões. Para cada ação , será registrado e armazenado no servidor, para que possa ser consultado as informações posteriormente.
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>
<!-- fim area caracteristica -->