<!-- Inicio banner-->
<section class="banner-area relative" id="home">
    <div class="container">
        <div class="row fullscreen d-flex align-items-center justify-content-end">
            <div class="banner-content col-lg-7 col-md-12">
                <h4 class="text-uppercase">Serviços em toda São Paulo!</h4>
                <h1>
                    Eficiencia Maxima
                </h1>
                <p>
                    Envie um email para nós e inicie uma chamada!
                </p>
                <a href="/login" class="primary-btn header-btn text-uppercase">Faça Login</a>
            </div>
        </div>
    </div>
</section>
<!-- Fim banner Area -->

<!-- Inicio area caracteristica -->
<section class="feature-area section-gap" id="feature">
    <div class="container">
        <div class="row">
            <div class="single-feature col-lg-4">
                <img class="img-fluid" src="images/f1.png" alt="">
                <h4>Suporte online</h4>
                <p>Oferecemos suporte online para atender diversos problemas, buscando atender de maneira pratica e
                    agil nossos clientes.</p>
            </div>
            <div class="single-feature col-lg-4">
                <img class="img-fluid" src="images/f2.png" alt="">
                <h4>Atendimento 24 Horas</h4>
                <p>Temos uma equipe de atendimento 24 horas para que nossos clientes sempre possam contar com nossos
                    serviços.</p>
            </div>
            <div class="single-feature col-lg-4">
                <img class="img-fluid" src="images/f3.png" alt="">
                <h4>Assistencia Técnica</h4>
                <p>Assistencia técnica de alto nivel, de modo que todos os atendimentos sejam cadastrados, processados,
                    registrados e documentados.</p>
            </div>
        </div>
    </div>
</section>
<!-- fim area caracteristica -->

<!-- Inicio Area de testemunha -->
<section class="testimonial-area relative section-gap">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10 text-white">Porque nos escolher?</h1>
                    <p class="text-white">Veja abaixo relatos de clientes, e oque eles pensão.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="active-testimonial">
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="images/user1.png" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Acessórios Aqui você pode encontrar o melhor acessório de computador para o seu laptop,
                            monitor, impressora, scanner, alto-falante, projetor, hardware.
                        </p>
                        <h4 mt-30>Josen Dias</h4>
                        <p>Analista Cabral Company</p>
                    </div>
                </div>
                <div class="single-testimonial item d-flex flex-row">
                    <div class="thumb">
                        <img class="img-fluid" src="images/user2.png" alt="">
                    </div>
                    <div class="desc">
                        <p>
                            Acessórios Aqui você pode encontrar o melhor acessório de computador para o seu laptop,
                            monitor, impressora, scanner, alto-falante, projetor, hardware.
                        </p>
                        <h4 mt-30>Josen Dias</h4>
                        <p>Analista Cabral Company</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- final area de testemunhas-->

<!-- inicio serviços-->
<section class="offered-area" id="oferecemos">
    <div class="container">
        <div class="menu-content pb-10 col-lg-12">
            <div class="title text-center">
                <h1 class="mb-10 text-black">Serviços oferecidos</h1>
                <p class="text-black">Os melhores serviços de help desk você encontra aqui!.</p>
            </div>
        </div>
        <div class="row align-items-center justify-content-start">
            <div class="col-lg-6 offered-left">
                <div class="offer-wrap flex-row d-flex row">
                    <div class="col-4">
                        <div class="single-offer mb-30">
                            <a href="#"></a><img class="img-fluid" src="images/o1.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="single-offer mb-30">
                            <a href="#"></a><img class="img-fluid" src="images/o2.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="single-offer mb-30">
                            <a href="#"></a><img class="img-fluid" src="images/o3.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="single-offer">
                            <a href="#"></a><img class="img-fluid" src="images/o4.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="single-offer">
                            <a href="#"></a><img class="img-fluid" src="images/o5.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="single-offer">
                            <a href="#"></a><img class="img-fluid" src="images/o6.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 offered-right">
                <h4>Sincronização de conteúdo</h4>
                <p class="pt-20 pb-20">
                    Buscamos atender nossos clientes da melhor forma possivel, integrando nossos sistemas, organizando
                    nossos dados e
                    entregando o melhor resultado possivel.
                </p>
                <a href="/servicos" class="primary-btn header-btn text-uppercase">Mais detalhes</a>
            </div>
        </div>
    </div>
</section>
<!-- final serviços -->


<!--Inicio area count -->
<section class="facts-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col single-fact">
                <h1 class="counter">7536</h1>
                <p>Projetos completados</p>
            </div>
            <div class="col single-fact">
                <h1 class="counter">6784</h1>
                <p>Clientes muito felizes</p>
            </div>
            <div class="col single-fact">
                <h1 class="counter">8059</h1>
                <p>Tarefas totais concluidas</p>
            </div>
            <div class="col single-fact">
                <h1 class="counter">30</h1>
                <p>Profissionais em casa</p>
            </div>
        </div>
    </div>
</section>
<!-- final area counter -->

<!-- Inicio area serviços -->
<section class="service-area section-gap relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 pb-40 header-text">
                <h1>Algumas informações a se compartilhar</h1>
                <p>
                    Os melhores serviços de help desk você encontra aqui!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-user"></span>Técnicos Especializados</h4>
                    <p>
                        Técnicos especializados em determinadas áreas, de acordo com seu problema.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-license"></span>Serviços profissionais</h4>
                    <p>
                        Serviços de excelencia, buscando satisfazer o cliente da melhor maneira possivel.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-phone"></span>Grande apoio</h4>
                    <p>
                        Estaremos disposto 24h por dia, de modo que sempre estejamos a disposição ao cliente.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-rocket"></span>Habilidades técnicas</h4>
                    <p>
                        Nossos profissionais estão entre os mais bem preparados, sempre buscando evoluir de acordo com
                        as tecnologias atuais.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-diamond"></span>Altamente recomendado</h4>
                    <p>
                        Uma empresa serie, sempre recomendada no que faz.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-service">
                    <h4><span class="lnr lnr-bubble"></span>Retorno positivos</h4>
                    <p>
                        Altos indices de produção devido ao excelente trabalho oferecido.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim area serviços -->

<!-- Inicio area informaçao -->
<section class="info-area" id="about">
    <div class="container-fluid">
        <div class="row d-flex justify-content-end align-items-center">
            <div class="col-lg-6  info-left no-padding">
                <img class="img-fluid" src="images/info-img.jpg" alt="">
            </div>
            <div class="col-lg-6  pl-3 pr-3 info-right no-padding">
                <h1>Suporte ao cliente </h1>
                <p>
                    Proporcionamos à melhor ferramenta de mercado, para atender às necessidades de nossos clientes; teremos o orgulhor e satisfação de enfatizar nosso canal de suporte para as demandas diárias e garantir às melhores práticas de nossa aplicação, consolidando junto aos nossos usuário, e personalizando nosso software, levando resultados significativos para a plataforma de suporte.
                </p>
                <a href="/suporte" class="primary-btn mt-20 text-uppercase">Leia mais<span class="lnr lnr-arrow-right"></a>
            </div>
        </div>
    </div>
</section>
<!-- Fim area informação -->

<!-- Inicio area duvidas -->
<section class="about-area">
    <div class="container-fluid">
        <div class="row no-padding justify-content-center d-flex align-items-center">
            <div class="col-lg-6 about-left">
                <h1>Duvidas</h1>
                <p class="mt-30 ml-5">
                    Nossa equipe está capacitada para atender e auxiliar em quaisquer duvidas decorrente<br>ao serviço prestado, com treinamentos contínuos os nossos colaboradores<br> possuem um diferencial em auxiliar o cliente e garantir os<br> procedimentos idônicos que compõem o software; garantindo assim a máxima eficiência em tratamento de intermitências decorrente aos processos.
                </p>
                <a href="/duvidas" class="primary-btn mt-20 text-uppercase">Leia Mais<span class="lnr lnr-arrow-right"></a>
            </div>
            <div class="col-lg-6 about-right no-padding relative">
                <div class="overlay overlay-bg"></div>
                <a href="https://www.youtube.com/watch?v=jANFmaxbc30" class="play-btn"> <img class="play" src="images/play-btn.png"
                        alt="">
                </a>
                <img class="main img-fluid" src="images/video-bg.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Fim area duvidas -->