<!-- seção informatica Admin -->
<section class="feature-area section-gap admin-home">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 title text-center">
                <h1 class="mb-10 title-adm">Quais serviços disponibilizamos?</h1>
                <p class="text-adm mb-5">Veja abaixo todos eles.</p>
            </div>
        </div>
    </div>
</section>
<section class="feature-area section-gap">
    <div class="container">
        <div class="row  text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid adm-icon-1" src="images/o1.png" alt="">
            </div>
            <div class="col-lg-8">
<<<<<<< HEAD
                <h4 class="title">Titulo one</h4>
                <p class="text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit
                    facilisis
                    justo, ac convallis sapien fermentum in. Ut quis dapibus diam, eu egestas justo. Suspendisse
                    pellentesque
                    ligula quis nulla tincidunt rutrum. Nulla risus eros, efficitur ac efficitur in, mattis vel lorem.
                    In
                    porta vulputate massa, quis rhoncus dolor suscipit at. Mauris aliquam lorem id augue tempus gravida
                    non
                    vel augue. </p>
=======
                <h4 class="title">Monitoramento de ameaças</h4>
                <p class="text-black mb-5">Nossa startup conta com equipes de monitoramento de possiveis ameaças
                    que possam contaminar ou ameaçar nossos clientes, de modo que estejamos preparados para solucionar problemas
                    a qualquer hora que envolvam malwares, virus, e diversos outros tipos de ameaças programadas com o ideal de prejudicar e 
                    ameaçar os usuarios. 
                </p>
>>>>>>> 6e282bfbebc8130899289bc196190001698365f4
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row  text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid adm-icon-2" src="images/o2.png" alt="">
            </div>
            <div class="col-lg-8">
<<<<<<< HEAD
                <h4 class="title">Titulo one</h4>
                <p class="text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit
                    facilisis
                    justo, ac convallis sapien fermentum in. Ut quis dapibus diam, eu egestas justo. Suspendisse
                    pellentesque
                    ligula quis nulla tincidunt rutrum. Nulla risus eros, efficitur ac efficitur in, mattis vel lorem.
                    In
                    porta vulputate massa, quis rhoncus dolor suscipit at. Mauris aliquam lorem id augue tempus gravida
                    non
=======
                <h4 class="title">Comunicação</h4>
                <p class="text-black mb-5">Estaremos comunicando aos nossos usuarios de novas atualizações, e comunicados atraves de emails, campo de noticias
                    e ligações para que possamos manter nossos clientes informados.
>>>>>>> 6e282bfbebc8130899289bc196190001698365f4
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid adm-icon-3" src="images/o3.png" alt="">
            </div>
            <div class="col-lg-8">
<<<<<<< HEAD
                <h4 class="title">Titulo one</h4>
                <p class="text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit
                    facilisis
                    justo, ac convallis sapien fermentum in. Ut quis dapibus diam, eu egestas justo. Suspendisse
                    pellentesque
                    ligula quis nulla tincidunt rutrum. Nulla risus eros, efficitur ac efficitur in, mattis vel lorem.
                    In
=======
                <h4 class="title">Manutenção</h4>
                <p class="text-black mb-5">A manutenção contara com o auxilio de profissionais especializados na area de desenvolvimento qualque
                    contaram com o auxilio da documentação do sistema, para facilitar de maneira simples , porem, 
                    eficaz, a manutenção do sistema.
>>>>>>> 6e282bfbebc8130899289bc196190001698365f4
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid adm-icon-4" src="images/o4.png" alt="">
            </div>
            <div class="col-lg-8">
<<<<<<< HEAD
                <h4 class="title">Titulo one</h4>
                <p class="text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit
                    facilisis
                    justo, ac convallis sapien fermentum in. Ut quis dapibus diam, eu egestas justo. Suspendisse
                    pellentesque
                    ligula quis nulla tincidunt rutrum. Nulla risus eros, efficitur ac efficitur in, mattis vel lorem.
                    In
=======
                <h4 class="title">Documentado</h4>
                <p class="text-black mb-5">Documentação de todas as atividades, alterações, inclusões e exclução de cada sistema, fornecendo ao usuario, os meios para 
                    armazenar todas as mudanças e ter em suas mãos a rastreabilidade necessaria caso seja preciso.
>>>>>>> 6e282bfbebc8130899289bc196190001698365f4
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid adm-icon-4" src="images/o5.png" alt="">
            </div>
            <div class="col-lg-8">
<<<<<<< HEAD
                <h4 class="title">Titulo one</h4>
                <p class="text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit
                    facilisis
                    justo, ac convallis sapien fermentum in. Ut quis dapibus diam, eu egestas justo. Suspendisse
                    pellentesque
                    ligula quis nulla tincidunt rutrum. Nulla risus eros, efficitur ac efficitur in, mattis vel lorem.
                    In
=======
                <h4 class="title">Suporte</h4>
                <p class="text-black mb-5">Equipes de suporte onlines destinas a tirar duvidas, e auxiliar os clientes
                    a finalizarem suas atividades relacionadas ao sistema, com todas as converças sendo gravadas e guardadas para possiveis vistorias.
>>>>>>> 6e282bfbebc8130899289bc196190001698365f4
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row text-center">
            <div class="single-feature col-lg-3">
                <img class="img-fluid adm-icon-4" src="images/o6.png" alt="">
            </div>
            <div class="col-lg-8">
<<<<<<< HEAD
                <h4 class="title">Titulo one</h4>
                <p class="text-black mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum blandit
                    facilisis
                    justo, ac convallis sapien fermentum in. Ut quis dapibus diam, eu egestas justo. Suspendisse
                    pellentesque
                    ligula quis nulla tincidunt rutrum. Nulla risus eros, efficitur ac efficitur in, mattis vel lorem.
                    In
=======
                <h4 class="title">Atualizações</h4>
                <p class="text-black mb-5">Atualizações mensais buscando melhorar a experiencia do cliente e sua usabilidade do sistema,
                    para que o mesmo sintasse em um ambiente cotidiano sem dificuldades para entender como o sistema funciona ou age.
>>>>>>> 6e282bfbebc8130899289bc196190001698365f4
                </p>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>
<!-- fim area caracteristica -->