

    <section class="feature-area section-gap suporte-cliente-home">
    <div class="container">
    <div class="row analist1">
        <div class="col-lg-12 title text-left">
            <h1 class="mb-10 title-gerente">Oferecemos suporte se precisar!</h1>
            <p class="text-black mb-5">Veja abaixo todas as ferramentas que um gerente pode manuzear.</p>
        </div>
    </div>
    </div>
</section>
<section class="feature-area section-gap">
<div class="container">
        <div class="row text-center"style="margin-bottom:100px;">
                <div class="single-feature col-lg-3">
                    <img class="img-fluid analist2-icon-3" style="height: 100%;" src="images/sup-client-3.png" alt="">
                </div>
                <div class="col-lg-8">
                    <h4 class="title">Equipe integrada</h4>
                    <p class="text-black mb-5"> A equipe de analistas são totalmente integrados com todos os dados e chamados do sistema, nunca seu chamado será esquecido ou visualizado somente por uma pessoa.
                    </p>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row  text-center" style="margin-bottom:-200px;">
                    <div class="single-feature col-lg-3">
                        <img class="img-fluid analist2-icon-2" style="height: 25%;"src="images/sup-client-2.png" alt="">
                    </div>
                    <div class="col-lg-8">
                        <h4 class="title">Sistema em Nuvem</h4>
                        <p class="text-black mb-5">Nosso sistema foi totalmente desenvolvimento em ambiente WEB, facilitando o uso e aumentando a eficiência.
                        </p>
                    </div>
                    <div class="col-lg-1"></div>
                </div>
    <div class="row  text-center" style="margin-bottom:-400px;">
        <div class="single-feature col-lg-3">
            <img class="img-fluid analist2-icon-1" src="images/sup-client-1.png" alt="">
        </div>
        <div class="col-lg-8">
            <h4 class="title">Gerenciamento de pessoas e Usuários</h4>
            <p class="text-black mb-5">
                O nosso sistema conta com o gerenciamento de contas, ou seja, ele é capaz de identificar o usuário , cadastrar novos usuários com suas devidas permissões de acesso e níveis de privacidade
     
            </p>
        </div>
        <div class="col-lg-1"></div>
    </div>

</div>
</section>